<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="user-profile  text-center">
      <div class="media">
        <div class="media-left">
          <%= image_tag current_user.gravatar_url(size: 150) %>
        </div>
        <div class="media-body">
          <h3 class='media-heading'>User profile for <%= current_user.email %></h3>
          <p>Member since <%= current_user.created_at.to_s(:short) %></p>
          <p>Membership: <%= current_user.role %></p>
          <% if current_user.premium? %>
            <%= link_to 'Downgrade account', users_downgrade_path, method: :post %>
          <% else %>
            <%= link_to 'Upgrade to premium', new_charge_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>