<%= form_for [wiki] do |w| %>
  <div class="col-md-6">
    <h4 class="text-center">Wiki Information</h4>
    <%= w.label :title %>
    <%= w.text_field :title, class: 'form-control', placeholder: "Enter wiki name" %>
    <br/>
      <%= w.label :body %>
      <%= w.text_area :body, rows: 8, class: 'form-control markdown', placeholder: "Enter wiki description" %>
    <% if current_user.admin? || current_user.premium? %>
      <div class="row">
        <div class="col-md-3 text-center">
          <%= w.label :private, class: 'checkbox' do %>
            <%= w.check_box :private %>
            Private Wiki
          <% end %>
        </div>
      </div>
    <% end %>
    <br/>
    <% if wiki.user == current_user %>
      <%= hidden_field_tag 'wiki[user_ids][]', [] %>
      <h4>Add collaborators</h4>
      <% @users.each do |user| %>
        <%= div_for(user) do %>
          <%= check_box_tag :user_ids, user.id, wiki.users.include?(user), name: 'wiki[user_ids][]' %>
          <%= label_tag :user_ids, user.email %>
        <% end %>
      <% end %>
    <% end %>
    <%= w.submit "Save", class: 'btn btn-success' %>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <h4>Preview Area</h4>
      <br>
      <br>
        <div id="wiki-preview">
        </div>
    </div>
  </div>
<% end %>
