= form_for [wiki] do |w|
  %p.text-center Wiki Information
  = w.label :title
  = w.text_field :title, class: 'form-control', placeholder: "Enter wiki name"
  %br/
  = w.label :body
  = w.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki description"
  - if current_user.admin? || current_user.premium?
    = w.label :private, class: 'checkbox' do
      = w.check_box :private
      Private Wiki
  %br/
  = w.submit "Save", class: 'btn btn-success'
