<div class="col-md-11 text-center">
  <h3>
    <%= @wiki.title %>
  </h3>
  <br/>
  <div class="row">
    <div class="col-md-6 text-center">
      <h4>Original Text</h4>
      <br/>
      <pre>
        <code>
           <%= @wiki.body %>
        </code>
      </pre>
      <br/>
      <br/>
    </div>
    <div class="col-md-6 text-center">
      <h4>Markdown Text</h4>
      <br/>
        <%= markdown(@wiki.body) %>
      <br/>
      <br/>
    </div>
  </div>
  <%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: "btn btn-default" %>
  <%= link_to "Collaborator", wiki_collaborators_path(@wiki), class: "btn btn-default" %>
</div>

