<!DOCTYPE html>
<html>
  <head>
    <title>Blocipedia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/showdown/1.5.0/showdown.min.js' %>
    <%= stylesheet_link_tag  'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/railscasts.min.css', media: 'all' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-3">
          <% if user_signed_in? %>
            <%= link_to "Home", user_root_path, :class => 'navbar-link' %>
          <% else %>
            <%= link_to "Home", root_path, :class => 'navbar-link' %>
          <% end %>
           -
          <%= link_to "About", about_path, :class => 'navbar-link' %>
        </div>
        <% if user_signed_in? %>
          <div style="margin-right:-70px">
            <div class="col-md-5 col-md-offset-4">
              Signed in as: <strong><%= link_to current_user.email, current_user %></strong>
              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </div>
          </div>
        <% else %>
          <div class="col-md-2 col-md-offset-7">
            <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> -
            <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
          </div>
        <% end %>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
